# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 123
print(number)
print(type(number))

123
<class 'int'>

##### Assinging float

In [2]:
my_float = 3.4
print(my_float)

3.4

#### Performing Calculations on ints and floats

##### Addition

In [3]:
num1 = 2
num2 = 5
print(num1 + num2)

7

In [4]:
my_new_num = 125
my_new_num +=2
print(my_new_num)

127

##### Subtraction

In [5]:
print (num1 - num2)

-3

In [6]:
num1 = 4
num2 = 3

result_diff = num1 - num2
print(result_diff)

1

##### Multiplication

In [7]:
print (num1 * num2)

12

##### Division

In [8]:
results_div= 65/2
print(results_div)

32.5

##### Floor Division

In [9]:
result_floor = 1 // 2
(print(result_floor))

0

##### Modulo

In [10]:
result_mod = 65 % 2
print(result_mod)

1

##### Exponential

In [11]:
square = 5 ** 2
print(square)
square**=2
print(square)

25
625

In [12]:
square = 5 ** 2
print(square)
square**=3
print(square)

25
15625

In [13]:
cubed=[]
start = 1
end = 1000
for count in range (start, end+1):
    cubed.append(count**3)
    print (cubed)
    if count**3 ==1000:
        break
        print(cubed)

[1]
[1, 8]
[1, 8, 27]
[1, 8, 27, 64]
[1, 8, 27, 64, 125]
[1, 8, 27, 64, 125, 216]
[1, 8, 27, 64, 125, 216, 343]
[1, 8, 27, 64, 125, 216, 343, 512]
[1, 8, 27, 64, 125, 216, 343, 512, 729]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### String Input-Output

##### String Assignment

In [14]:
name = "Niko"
print(name)

Niko

In [15]:
#name = "price"

print(name)

name ="""
Hey
dude!
Niko says, "hello!"
"""

Niko

##### print() <br>
<p>Don't forget about end=' '</p>

In [16]:
name = "price"

print(name)

price

##### String Concatenation

In [17]:
first= "Niko"
last = "Price"
full_name = first +" " + last
print(full_name)

Niko Price

##### Type Conversion

In [18]:
num1 = 3
num2 = "4"
print(str(num1) + num2)

num1 = 3
num2 = "4"
print(num1 + int(num2))

34
7

##### input()

In [19]:
age = input("what is your age?")

print (age)
print(type(age))

what is your age?88
88
<class 'str'>

##### format()

In [20]:
age=int(input("What is your age? "))
result_string = 'You are {} years old and you are getting wiser!' .format(age)
print(result_string)

What is your age? 99
You are 99 years old and you are getting wiser!

In [21]:
siblings= int(input("How many siblings do you have?" ))
result_string = 'You have {} sibling(s)' .format(siblings)
print(result_string)

How many siblings do you have?99
You have 99 sibling(s)

#### f-strings

In [22]:
age = int(input("What is your age?"))
x = "Blah blah blah is all I hear today in class"
result_string = f'You are {age} years old and you are getting wiser! {x} {x}'
print(result_string)

What is your age?99
You are 99 years old and you are getting wiser! Blah blah blah is all I hear today in class Blah blah blah is all I hear today in class

##### Old Way (python 2)

In [23]:
age = "35"

result_str = 'you are %s and you look great for your age!' %age
print(result_str)

you are 35 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

#### 'not in' keyword'

In [24]:
color = (input("What is the color of your car? "))
year = (input("What is the year of your car?" ))
make = (input("What is the make of your car?" ))
model = (input("What is the model of your car?" ))
result_string = f'You drive a {color} {year} {model} {make}'
print(result_string)

What is the color of your car? white
What is the year of your car?2022
What is the make of your car?ulokda
What is the model of your car?dadas
You drive a white 2022 dadas ulokda

### If Statements

In [25]:
num1 = 2
num2 = 10

if num1==num2:
    print("equal")
else:
    print("not equal")

not equal

In [26]:
num1= 10
num2= 100

if num1 > num2:
    print("num1 is greater")
elif num1 < num2:
    print("num1 is lesser")
else:
    print("equal")

num1 is lesser

In [27]:
#terinary operator ...inline statements
name = "John"
my_num = 5 if name =="steve" else 0

In [28]:
#nested if statement
name = "john"
my_num = 5 if name =="steve" else 10 if name== "john" else 0
print(my_num)

10

##### 'is' keyword

In [29]:
#only use this when asking if somethinf is none
x = None
print(x)
print(x is None)
print(x is not None)

None
True
False

##### 'in' keyword

In [30]:
#membership checks
char_name = "max payne"
if "max" in char_name:
    print("the character who lost everything...")

the character who lost everything...

In [31]:
our_cat = "dede price"
if "dede" in our_cat:
    print("the cat who is always sleepy...")

the cat who is always sleepy...

In [32]:
country=input("Name a country without an e in it's name ")
if "e" in country:
    print("GAME OVER")
else:
    print("Next Round")

Name a country without an e in it's name dwwf
Next Round

##### 'not in' keyword'

In [33]:
sega_char= "Sonic"
if "S" not in sega_char.upper():
    print("s is in the name ... !!!!")
else:
    print("the word has an S")

the word has an S

In [34]:
word=input("What is your name?")
if "P" not in word.upper():
    print("p is not in the name")
else:
    print("p is in the name")

What is your name?dwsdf
p is not in the name

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

### For Loops

In [35]:
name = "Gareth"

for letter in name:
    print (f"the next letter is {letter}")
    print('another line')
print("a third line")

the next letter is G
another line
the next letter is a
another line
the next letter is r
another line
the next letter is e
another line
the next letter is t
another line
the next letter is h
another line
a third line

##### Using 'in' keyword

##### Continue Statement

In [36]:
name = "Gareth Atkins"

for letter in name:
    if letter =="r":
        print("THE LETTER IS R")
        break
    
    print (f"the next letter is {letter}")
    print('another line')

the next letter is G
another line
the next letter is a
another line
THE LETTER IS R

##### Break Statement

In [37]:
num1=1
num1==**3
for value ==1000
    print("Reached the limit")

SyntaxError: invalid syntax (4062866342.py, line 2)

##### Pass Statement

In [ ]:
name = "Gareth Atkins"

for letter in name:
    pass

print("rest of program")

In [ ]:
foods = ("pizza", "taco", "dimsum", "sushi")
print(foods)

In [ ]:
for food in foods:
    print(food)
    print(type(food))

In [ ]:
foods = ("pizza", "taco", "dimsum", "sushi")
len(foods)
print(foods)
list(range(4))

In [ ]:
x, y = (1,2)
print(x)
print(y)

In [ ]:
for tuple in enumerate (foods):
    print(tuple)

In [ ]:
for index, food  in enumerate (foods):
    print("at index", index, "is the food", food)

##### Double For Loops

In [ ]:
counter = 0
for i in range(5):
    for j in range(5):
        counter+=1
        print(f'i={i} j={j} total{counter}')
    print()

### While Loops

In [ ]:
num = 0
while num <=1000:
    print(num)
    num += 1

##### Looping 'While True'

In [ ]:
while True:
    print("Hello")
    break

##### While & For Loops Used Together

In [ ]:
num=0
total = 0

while num < 5:
    print("while loop itiration: ")

### Built-In Functions

##### range()

In [ ]:
#range(start, stop, step)
#range(stop)
#range(start,top)

list(range(0,4,1))

##### len()

In [ ]:
len('hey')
len(str(1234))

##### help()

In [ ]:
 
help(range)

##### isinstance()

In [ ]:
isinstance(num, list)

##### abs()

In [ ]:
#

### Try and Except

### Lists

##### Declaring Lists

In [ ]:
names = ["Vanessa", "Patrick", "Moises", "Armani"]
print(names)

##### Indexing a List

In [ ]:
print(names[1])

In [ ]:
#reverse

print(names[::-1])

##### .append()

In [ ]:
names = ["Vanessa", "Patrick", "Moises", "Armani"]
names.append("Ramika")
print(names)

##### .insert()

In [ ]:
names.insert(2, "Sabrina")
print(names)

##### .pop()

In [ ]:
new_class=[]
new_class.append(names.pop())
print(names)
print(new_class)


##### .remove()

In [ ]:
names.remove("Sabrina")
print(names)

##### del()

In [ ]:
del names [1]
print(names)

In [ ]:
#do not use del in a for loop

##### Concatenating Two Lists

In [ ]:
l1 = [1,2,3]
l2 =[4,5,6]
print(l1+l2)

In [ ]:
l2.extend(l1)
print(l2)

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [43]:
cubed=[]
cubed_number = 0
start = 1
end = 1000
for count in range (start, end+1):
    cubed_number = count**3
    cubed.append(cubed_number)
    print (cubed)
    if cubed_number == 1000:
        break
        print(cubed)

[1]
[1, 8]
[1, 8, 27]
[1, 8, 27, 64]
[1, 8, 27, 64, 125]
[1, 8, 27, 64, 125, 216]
[1, 8, 27, 64, 125, 216, 343]
[1, 8, 27, 64, 125, 216, 343, 512]
[1, 8, 27, 64, 125, 216, 343, 512, 729]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [42]:
num = 1
while num ** 3 < 1000:
      print(num ** 3)
      num += 1

1
8
27
64
125
216
343
512
729

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [41]:
for val in range(1, 101):
  if val > 1:
    for i in range(2, val):
      if (val % i) == 0:
        break
    else:
      print(val, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [38]:
age = int(input("How old are you? "))
print(age)
if age < 18:
    print("kids")
elif age >= 18 and age <=65: 
    print("adults")
else:
    print("seniors")

How old are you? 899
899
seniors